/*  style  */

.project-title {
	font-size: 30px;
	color: #fff;
	margin-top: 50px;
	text-align: center;
}
.sidebar {
	font-size: 22px;
	text-fill-color: transparent;
	background-image: radial-gradient(
		circle at 100% 60%,
		#fc5e9b,
		#735adb 73%,
		#3f90e5 88%,
		#ecedef 165%,
		#f0eff0 165%
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-box-decoration-break: clone;
}
/* section */
.section {
	width: 90vw;
	margin: 0 auto;
	max-width: var(--max-width);
}

@media screen and (min-width: 992px) {
	.section {
		width: 95vw;
	}
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	width: 90vw;
	margin: 5rem auto;
	background: white;
	border-radius: 10px;
	padding: 2.5rem 2rem;
	max-width: 800px;
	display: grid;
	gap: 1rem 2rem;
}
.container h3 {
	line-height: 1.2;
	font-weight: 500;
}
@media screen and (min-width: 992px) {
	.container {
		display: grid;
		grid-template-columns: 250px 1fr;
	}
}
